/*
Theme Name: iNove
Theme URI: http://wordpress.org/extend/themes/inove/
Description: Inspired by <a href="http://maczone.sk/">MacZone.sk</a>, created by <a href="http://www.neoease.com/">mg12</a>. I
Version: 1.2.2
Author: mg12
Author URI: http://www.neoease.com/
Ported to Drupal by glueckskind
*/

/* static START */
* {
	margin:0;
	padding:0;
}
abbr[title], acronym[title] {
	border-bottom:thin dotted;
	cursor:help;
}
body {
	background:#BEC3C6 url(img/bg.jpg) repeat-x;
	color:#555;
	font-family:Verdana,"BitStream vera Sans",Helvetica,Sans-serif;
	font-size:12px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:bolder;
	letter-spacing:-0.07em;
	font-family:Arial;
}
h1 {font-size:200%;}
h2 {font-size:170%;}
h3 {font-size:150%;}
h4 {font-size:130%;}
h5 {font-size:110%;}
h6 {font-size:100%;}
img {
	border:0;
	padding:5px;
}
img.sided {
	background:#FFF;
	border:1px solid #CCC;
	padding:3px;
}
small {
	font-size:10px;
}
a:hover img.sided {
	border-color:#A6A6A6;
}
a {
	color:#2970A6;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.wp-caption {
	background:#F7F7F7;
	border:1px solid #CCC;
	padding:5px 0;
	margin-bottom:5px;
	text-align:center;
}
.post .content .wp-caption p {
	margin:0;
}
blockquote, pre {
	background:#F4F5F7 url(img/blockquote.gif) 3px 3px no-repeat;
	border:1px dashed #CCC;
	padding:8px 12px 8px 36px;
	margin:5px 0;
}
.more-link {
	font-size:11px;
}
.alignleft {
	float:left;
	text-align:left;
	margin-right:10px;
}
.alignright {
	float:right;
	text-align:right;
	margin-left:10px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
.left {
	float:left;
	margin-right:10px;
}
.right {
	float:right;
	margin-left:10px;
}
.fixed, .clear {
	clear:both;
}
input.textfield, 
textarea {
	background:#FFF url(img/textfield.gif) top repeat-x;
	border:1px solid #A6A6A6;
	padding:2px 1px;
}
.boxcaption {
	background:#E3E4E6 url(img/box.gif) 0 0 no-repeat;
	padding:6px 12px;
	border-bottom:1px solid #CCC;
}
.boxcaption h3 {
	font-size:12px;
	font-family:Verdana,"BitStream vera Sans";
	letter-spacing:0em;
}
.box {
	background:#F4F5F7 url(img/box.gif) 100% 100% no-repeat;
	padding:8px 12px;
	margin-bottom:10px;
}
.messagebox, 
.errorbox {
	background:#EDEFF0 url(img/messagebox.gif) no-repeat;
	padding:0 12px;
	height:27px;
	line-height:27px;
	font-size:11px;
}
.w3c {
	color:#080;
	font-size:10px;
}
/* static END */

/* layout START */
#wrap {
	background:url(img/light.gif) center top no-repeat;
	padding:20px 0;
}
#container {
	margin:0 auto;
	width:936px;
}
/* layout END */

/* header START */
#header {
	background:url(img/header_footer.jpg) 0 0 no-repeat;
	height:132px;
}
#caption {
	height:44px;
	padding:25px 30px 21px;
}
#title a {
	text-decoration:none;
	color:#FFF;
	/*width:250px;*/
	height:30px;
	display:block;
	font-family:"Trajan Pro";
	letter-spacing:0;
}
/* image blog title */
/*
#title a {
	background:url(img/title.gif) no-repeat;
	text-decoration:none;
	color:#FFF;
	width:250px;
	height:30px;
	text-indent:-999em;
	display:block;
}
*/
#tagline {
	color:#FFF;
	border-top:1px solid #FFF;
	text-decoration:none;
	font-size:10px;
	float:left;
	padding:0 3px;
}
#navigation {
	margin:1px 0;
}
#menus li {
	display:inline;
	list-style:none;
	padding:0;
}
#menus li a {
	background:transparent url(img/menu.gif) no-repeat;
	display:inline;
	color:#382E1F;
	height:31px;
	line-height:31px;
	padding:0 20px ;
	margin-left:-10px;
	text-decoration:none;
	font-size:11px;
	float:left;
	z-index:1;
}
#menus li a:hover {
	background-position:0 -31px;
}
#menus li.current_page_item a, 
#menus li.current-cat a {
	background-position:0 -62px;
}
#menus li a.home {
	background-position:0 -93px;
	width:45px;
	padding:0;
	margin-left:0;
	text-indent:-999em;
}

#menus li.first a{
	background-position:0 -124px;
	width:45px;
	padding:0;
	margin-left: 0;
	text-indent:-999em;
}
#menus li a.home:hover {
	background-position:0 -124px;
}
#menus li.current_page_item a.home {
	background-position:0 -155px;
}
#menus li a.lastmenu:hover {
	background-position:0 0;
}
#searchbox {
	float:right;
	padding:4px 10px;
}
#searchbox .textfield {
	line-height:16px;
	width:180px;
	float:right;
}
#searchbox .switcher {
	background:url(img/icons.gif) 0 0 no-repeat;
	float:right;
	width:18px;
	height:22px;
	line-height:16px;
	display:block;
	text-indent:-999em;
	padding:0 2px;
	height:16px;
	margin-top:3px;
}
/* header END */

/* submenu START */
#menus li ul {
	display:none;
	background:#F4F5F7;
	border:1px solid #CCC;
	border-top-color:#A6A6A6;
	padding:0 5px;
}
#menus li li {
	float:none;
	margin:0 !important;
	margin:0;
	padding:0;
	display:block;
	list-style:none;
}
#menus li li a {
	float:none;
	display:block;
	padding:5px;
	text-decoration:none;
	width:125px;
	font-size:12px;
	border-style:solid;
	border-color:#DDD;
	border-width:1px 0 0;
	margin:0;
	background-image:none;
	height:20px;
	line-height:20px;
}
#menus li li.first a {
	border-top:none;
}
#menus li li a:hover {
	font-weight:bolder;
}
/* submenu END */

/* content START */
#content {
	background:#FFF url(img/sidesep.gif) right repeat-y;
	min-height:400px;
}
/* content END */

/* main START */
#main {
	background:#FFF;
	width:605px;
	padding:5px 15px 10px;
	float:left;
	min-height:400px;
}

#main li {
  margin-left:15px;
}

#notice {
	color:#080;
}
#notice a {
	text-decoration:underline;
}
h2.nodeTitle {
	display:block;
	margin: 10px 0 5px;
	border-bottom:1px solid #CCC;
	padding:0 5px 3px;
	font-size:16px;
	font-family:Verdana,"BitStream vera Sans";
}
h2.nodeTitle a {
	text-decoration:none;
	color:#4C4C4C;
}
h2.nodeTitle:hover a {
	color:#2970A6;
}
.post .info {
	margin:5px;
}
.post .info span.first {
	margin-left:0;
}
.post .date, 
.post .taxonomy .first, 
.post .blog_usernames_blog, 
.post .categories, 
.post .editpost, 
.post .readingblinds, 
.post .comment_comments,
.post .comment_new_comments,
.post .node_read_more,
.post .comment_add,
.post .comment_edit,
.post .editlinks {
	background:url(img/icons.gif) no-repeat;
	padding-left:22px;
	height:16px;
	line-height:16px;
	display:inline;
	font-size:11px;
}
.post .act {
	height:16px;
	float:right;
}
.post .act span {
	float:left;
	margin-left:15px;
}

.post .taxonomy .first {
	background-position:0 -16px;
}
.post .blog_usernames_blog {
	background-position:0 -160px;
}
.post .date {
	background-position:0 -48px;
	margin: 10px 10px 10px 5px;
}
.post .editpost {
	background-position:0 -64px;
}
.post .comment_edit {
	background-position:0 -64px;
}
.post .readingblinds {
	background-position:0 -80px;
}
.post .comment_comments {
	background-position:0 -96px;
	margin: 10px;
}
.post .comment_new_comments{
	background-position:0 -144px;
	margin: 10px;
}
.post .node_read_more{
	background-position:0 -208px;
}
.post .comment_add {
	background-position:0 -113px;
}
.post .editlinks {
	background-position:0 -192px;
}
.post .content {
	padding:5px 0 5px 5px;
	line-height:145%;
	overflow:hidden;
}
.post .content p {
	margin-bottom:10px;
}
.post .content .under {
	height:16px;
	line-height:16px;
}
.post .content .under span {
	float:left;
	margin-right:15px;
}
.post .content h4 {
	color:#080;
	margin-bottom:10px;
}
.post .content img {
	max-width:600px;
}
.post .content ul, 
.post .content ol {
	padding-bottom:10px;
}
.post .content ul li, 
.post .content ol li {
	list-style-position:inside;
	padding-left:20px;
}
.post .content table {
	background:#FFF;
	border:1px solid #CCC;
	margin:5px 0 10px;
}
.post .content table tr td {
	border-top:1px solid #CCC;
	padding:2px 10px;
}
.post .content table tr th {
	padding:1px 10px;
	background:#EDEFF0;
	text-align:left;
}
.post .content .boxcaption {
	background-image:url(img/postbox.gif);
	border-bottom:1px solid #CCC;
}
.post .content .box {
	background-image:url(img/postbox.gif);
}
#postpath {
	background:url(img/icons.gif) 0 -208px no-repeat;
	height:16px;
	line-height:16px;
	margin:5px 0;
	padding-left:22px;
}
#pagenavi, 
#postnavi {
	border-top:1px solid #CCC;
	margin:10px -5px 0;
	padding:10px 5px 0;
}
#pagenavi {
	font-size:11px;
}
#pagenavi .newer a, 
#postnavi .prev a {
	background:url(img/icons.gif) 0 -224px no-repeat;
	padding-left:22px;
	float:left;
	height:16px;
	line-height:16px;
}
#pagenavi .older a, 
#postnavi .next a {
	background:url(img/icons.gif) 100% -240px no-repeat;
	padding-right:22px;
	float:right;
	height:16px;
	line-height:16px;
}
/* main END */

/* sidebar START */
#sidebar {
	background:#F7F7F7;
	width:300px;
	float:right;
	font-size:95%;
	background:#F7F7F7;
	line-height:145%;
	overflow:hidden;
	padding: 0 0 5px 0;
}

#sidebar .content, 
#sidebar li {
	font-size:12px;
	padding-left:5px;
	margin-top:5px;
}
#sidebar .block {
	background:url(img/widgetsep.png) bottom no-repeat;
	padding:10px 15px 19px;
}

#sidebar {
	font-size:95%;
}
#sidebar .widget h2 {
	margin-bottom:10px;
}
/* sidebar END */

/* footer START */
#footer {
	background:url(img/header_footer.jpg) 0 -132px no-repeat;
	display:block;
	height:83px;
	border-top:1px solid #CCC;
	font-size:11px;
	line-height:130%;
	padding: 5px 0 0 15px;
	text-align: center;
}
#footer a {
	color:#2A2A2A;
}
#copyright {
	margin-top:12px;
	margin-left:20px;
}
#themeinfo {
	margin-left:20px;
}

a#gotop {
	background:url(img/icons.gif) 0 -304px no-repeat;
	position: absolute;
	float:left;
	height:16px;
	line-height:18px;
	display:block;
	padding-left:16px;
	text-decoration:none;
}

/* footer END */

/* comment START */
#comments {
	background:#FCFCFC;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	margin:10px 0;
	padding:15px 15px ;
}

#comments .comment_edit,
#comments .comment_delete,
#comments .comment_reply{
	background:url(img/icons.gif) no-repeat;
	padding-left:22px;
	height:16px;
	line-height:16px;
	display:inline;
	font-size:11px;
}

#comments .comment_edit{
	background-position:0 -64px;
}

#comments .comment_delete{
	background-position:0 -343px;
}

#comments .comment_reply{
	background-position:0 -146px;
}

.comment-new{
	color:red;
	font-size:120%;
}

#comments ul.links{
	padding-top: 3px;
}


#comments ol, 
#comments li {
	list-style:none;
}
#cmtswitcher {
	background:#FFF;
	font-size:10px;
	padding-top:5px;
}
#cmtswitcher a.tab, 
#cmtswitcher a.curtab {
	padding:5px 10px;
	margin-bottom:-1px;
	display:block;
	float:right;
	color:#555;
	text-decoration:none;
}
#cmtswitcher a.tab {
	border:1px solid #FFF;
	border-bottom-color:#CCC;
}
#cmtswitcher a.curtab {
	background:#FCFCFC;
	border:1px solid #CCC;
	border-bottom-color:#FCFCFC;
}
#cmtswitcher .addcomment, 
#cmtswitcher .addtrackback {
	padding-left:22px;
	height:16px;
	line-height:16px;
	display:block;
	font-size:11px;
	float:left;
	margin-right:15px;
	margin-top:4px !important;
	margin-top:3px;
}
#cmtswitcher .addcomment {
	background:url(img/icons.gif) 0 -112px no-repeat;
}
#cmtswitcher .addtrackback {
	background:url(img/icons.gif) 0 -144px no-repeat;
}
#thecomments, 
#thetrackbacks {
	padding-bottom:15px;
}
#thecomments .comment, 
#thecomments .messagebox {
	margin-top:15px;
}
.comment .author {
	float:left;
	width:81px;
	text-align:center;
}
.comment .pic {
	background:url(img/commentpoint.png) 100% 33% no-repeat;
	padding-right:14px;
	margin-top:10px;
}
.comment .name {
	width:67px;
	padding-right:14px;
	font-weight:bolder;
	overflow:hidden;
}
.comment .avatar {
	padding:1px;
	border:1px solid #999;
}
.comment .info {
	background:#EDEFF0 url(img/comment.gif) 0 0 no-repeat;
	padding:10px 15px 0;
	margin: 5px 0 10px;
	width:494px;
}
.comment .date, 
.trackback .date {
	float:left;
	font-size:10px;
}
.comment .act, 
.trackback .act {
	float:right;
	font-size:10px;
}
.comment .content {
	background:url(img/comment.gif) 100% 100% no-repeat;
	margin:0 -15px;
	padding:0 15px 10px;
	line-height:145%;
}
.comment .content p {
	margin-top:10px;
}
.comment .content blockquote p {
	margin-top:0;
	margin-bottom:10px;
}
.admincomment .author {
	float:right;
}
.admincomment .pic {
	background:url(img/commentpoint.png) 0% 33% no-repeat;
	padding-right:0;
	padding-left:14px;
}
.admincomment .name {
	padding-right:0;
	padding-left:14px;
}
.admincomment .info {
	float:right;
}
#comment_login {
	margin-top:15px;
}
#thetrackbacks {
	display:none;
}
#thetrackbacks li {
	margin-top:15px;
}
.trackback {
	background:#EDEFF0 url(img/box.gif) 0 0 no-repeat;
	padding:10px 15px 0;
	width:575px;
}
.trackback .title {
	background:#EDEFF0 url(img/box.gif) 100% 100% no-repeat;
	padding:10px 15px !important;
	padding:0 15px 10px;
	width:575px;
	margin:0 -15px;
}
#respond {
	padding:10px 0 0;
	font-size:11px;
}
#respond .row {
	margin-bottom:5px;
}
#respond .textfield {
	width:200px;
}
#emoticon {
	float:right;
	margin-top:1px;
	margin-right:10px;
}
#comment {
	width:601px;
}
#commentnavi {
	background:#EDEFF0 url(img/box.gif) 0 0 no-repeat;
	padding:10px 15px;
	font-size:11px;
}
#commentnavi a.page-numbers {
	padding:5px 7px;
	text-decoration:none;
	border:1px solid #EDEFF0;
	margin:0 -2px;
}
#commentnavi a.page-numbers:hover {	
	background:#F7F7F7;
	border:1px solid #CCC;
	text-decoration:none;
}
#commentnavi span.pages {
	padding:0 7px 0 22px;
	background:url(img/icons.gif) 0 -272px no-repeat;
	height:16px;
	line-height:16px;
	float:left;
}
#commentnavi span.current {
	background:#F7F7F7;
	padding:5px 7px;
	border:1px solid #F7F7F7;
	font-weight:bold;
	margin:0 -2px;
}
#commentnavi #commentpager {
	line-height:16px;
}
#submitbox a.feed {
	background:url(img/icons.gif) 0 -256px no-repeat;
	padding-left:22px;
	height:16px;
	line-height:16px;
	display:block;
	float:left;
}
#submitbox #submit {
	padding:3px 6px;
	background:#B4D666;
	border-top:1px solid #B4D666;
	border-right:1px solid #81B840;
	border-bottom:1px solid #81B840;
	border-left:1px solid #B4D666;
	color:#2970A6;
	font-size:11px;
	cursor:pointer;
}
#submitbox #submit:hover {
	background:#98C64C;
	border-top:1px solid #76B33A;
	border-right:1px solid #98C64C;
	border-bottom:1px solid #98C64C;
	border-left:1px solid #76B33A;
	color:#074A7E;
}
#submitbox .submitbutton {
	float:right;
}
/* comment END */

/* archives STRAT */
#archives {
	list-style-position:inside;
}
.postspermonth {
	margin:5px 0;
	list-style:none;
}
.srg_switcher {
	margin-bottom:10px;
}
/* archives END */

/* linkcat START */
.post .content .linkcat ul li {
	list-style:none;
	float:left;
	width:25%;
	padding:2px 0;
	overflow:hidden;
}
.post .content .linkcat ul li a {
	background:url(img/icons.gif) 0 -160px no-repeat;
	padding-left:22px;
	height:16px;
	line-height:16px;
}
/* linkcat END */

/* image switcher START */
.imageswitcher {
	background:#EDEFF0;
	padding:5px;
	font-size:11px;
}
.imageswitcher_image {
	background:#FFF;
	border:1px solid #BABABA;
	padding:3px;
	margin:0;
}
a .imageswitcher_image:hover {
	border-color:#999;
}
a.imageswitcher_button {
	float:left;
	margin-top:1px !important;
	margin-top:3px;
	margin-bottom:0 !important;
	margin-bottom:5px;
	margin-right:4px;
	padding:2px 5px;
	background:#B4D666;
	border-top:1px solid #B4D666;
	border-right:1px solid #81B840;
	border-bottom:1px solid #81B840;
	border-left:1px solid #B4D666;
	color:#2970A6;
}
a.imageswitcher_button:hover {
	background:#98C64C;
	border-top:1px solid #76B33A;
	border-right:1px solid #98C64C;
	border-bottom:1px solid #98C64C;
	border-left:1px solid #76B33A;
	text-decoration:none;
	color:#074A7E;
}
/* image switcher END */

/* related posts START */
/* when related posts with title */
#related_posts {
	padding-bottom:10px;
}
#related_posts h3 {
	background:#E3E4E6 url(img/box.gif) 0 0 no-repeat;
	font-size:12px;
	padding:6px 12px;
	font-family:Verdana,"BitStream vera Sans",Arial,Helvetica,Sans-serif;
	letter-spacing:0em;
	border-bottom:1px solid #CCC;
}
#related_posts ul {
	background:#F4F5F7 url(img/box.gif) 100% 100% no-repeat;
	padding:3px 12px 8px;
}
#related_posts ul li {
	list-style:none;
	padding:3px 5px;
	border-bottom:1px solid #E3E4E6;
	line-height:18px;
}
#related_posts .count {
	font-size:10px;
}
#related_posts .excerpt {
	color:#999;
	font-size:11px;
	display:block;
}
/* when related posts without title */
/*
#related_posts {
	padding-top:3px;
	padding-bottom:8px;
}
#related_posts ul li {
	list-style:none;
	padding:3px 5px;
	border-bottom:1px solid #E3E4E6;
	line-height:18px;
}
*/
/* related posts END */

/* one-column START */
.one-column #content {
	background:#FFF;
}
.one-column #main {
	width:906px;
}
.one-column #comment {
	width:902px;
}
.one-column .trackback, 
.one-column .trackback .title {
	width:876px;
}
.one-column .comment .info {
	width:795px;
}
.one-column #header {
	background-image:url(img/header_footer_1col.jpg);
}
.one-column .comment .info, 
.one-column .comment .content {
	background-image:url(img/comment_1col.gif);
}
.one-column .boxcaption, 
.one-column .box, 
.one-column .trackback, 
.one-column .trackback .title, 
.one-column #commentnavi, 
.one-column #related_posts h3, 
.one-column #related_posts ul {
	background-image:url(img/box_1col.gif);
}
.one-column .messagebox, 
.one-column .errorbox {
	background-image:url(img/messagebox_1col.gif);
}
.one-column .post .content .boxcaption, 
.one-column .post .content .box {
	background-image:url(img/postbox_1col.gif);
}
/* one-column END */

div.admin .left {
	float:left;
	margin-left:1em;
	width:45%;
}

div.admin .right {
	float:right;
	margin-right:1em;
	width:45%;
}

ul.primary{
	margin:10px 5px 7px 0px;
}

#user-login-form {
	text-align:left;
}

td {
	padding: 0.2em;
}

#header li a {
	color: #fff;
}

#header ul.secondary-links{
	float: right;
	color: #fff;
	padding:0.5em 1em;
}

#header ul.secondary-links li{
	border-right: 1px solid #fff;
	padding:0em 0.75em 0em 0.25em;
	display: inline;
}

#header li a {
	color: #ccc;
}

#footer ul.secondary-links li{
	border-right: 1px solid #ccc;
	padding:0em 0.75em 0em 0.25em;
	display: inline;
}

.taxonomy .links{
	background-color: #e7e7e7;
	border: 1px solid #d8d8d8;
	padding:2px 0 2px;
	font-size: 11px;
}

.taxonomy {
	padding:2px 0 2px;
	margin: 5px 0 0 15px;
}

ul.pager{
	padding: 10px 0 0 5px;
}
.item-list .pager li {
	padding: 0;
}

.pager strong, .pager a{
	background:#ecf3fb none repeat scroll 0 0;
	border:1px solid #ccc;
	padding:0px 3px 0px 3px;
	margin:0;
}

.pager li.pager-current {
	background:#2666C3 none repeat scroll 0 0;
	padding:0px 3px 0px 3px;
	color:#FFFFFF;
	margin:0;
}
